In [25]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.colors as mcolors

filepath = ('Resources/Groceries_dataset.csv')

In [26]:
df = pd.read_csv(filepath)
df.head()

   Member_number  Date   itemDescription  Unnamed: 3
0           1808  2015    tropical fruit         NaN
1           2552  2015        whole milk         NaN
2           2300  2015         pip fruit         NaN
3           1187  2015  other vegetables         NaN
4           3037  2015        whole milk         NaN

In [27]:
items = df.groupby('itemDescription').agg({'Member_number':pd.Series.count}).\
                                      reset_index().\
                                      rename(columns={'Member_number': 'row_count'}).\
                                      sort_values('row_count', ascending=False)

top_five = items.head(5)
top_five

      itemDescription  row_count
164        whole milk       2502
102  other vegetables       1898
122        rolls/buns       1716
138              soda       1514
165            yogurt       1334

In [30]:
plt.bar(top_five['itemDescription'],top_five['row_count'],alpha=0.5, align='center', color=rvb(x/N))
plt.title('Top 5 Grocery Items')
plt.xlabel('Grocery Item')
plt.ylabel('Count of Items')
plt.xlim(-0.75, len(top_five['itemDescription']) - 0.25)
plt.xticks(rotation=45)

clist = [(0, "red"), (0.125, "red"), (0.25, "orange"), (0.5, "green"), 
         (0.7, "green"), (0.75, "blue"), (1, "blue")]
rvb = mcolors.LinearSegmentedColormap.from_list("", clist)


plt.show()

NameError: name 'x' is not defined