In [7]:
import pandas as pd

filepath = ('Resources/Groceries_dataset.csv')

In [10]:
df = pd.read_csv(filepath)
df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk